*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
body {
}
main {
  display: flex;
}
.form-container {
  display: flex;
  flex-direction: column;
  width: 210mm;
  padding: 2rem;
  border-radius: 5px;
  background-color: rgb(238, 238, 238);
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.resume-container {
  width: 210mm;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
  background-color: rgb(238, 238, 238);
  border-radius: 5px;
}
.section-top {
  display: flex;
  justify-content: space-between;
}
.section-bottom {
  display: flex;
  justify-content: space-between;
}
