@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,700;1,400&display=swap");
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}
ol,
ul {
  list-style: none;
}

body {
}
main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.form-container {
  display: flex;
  flex-direction: column;
  width: 210mm;
  padding: 2rem;
  border-radius: 5px;
  background-color: rgb(238, 238, 238);
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
  gap: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.form-title {
  margin-bottom: 0.5rem;
}
.resume-container {
  font-family: "EB Garamond", serif;
  background-color: rgb(238, 238, 238);
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  width: 210mm;
}
.header-name {
  font-size: 26px;
  font-weight: bold;
}
.header-contact-info {
  display: flex;
  gap: 1rem;
  font-size: 22px;
}
.resume-section {
}
.section-title {
  font-size: 16px;
  font-weight: bold;
}
.section-top {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}
.section-bottom {
  display: flex;
  justify-content: space-between;
  font-style: italic;
}
